.stage{
    height: 300px;
    width: 80%;
    background-color: #97D8F9;;

    border-radius: 20px;
    position: relative;
}
.image-item{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width:100%;
    margin: 3px;
    box-shadow: #B0BEC7 1px 1px 4px 0px;
    opacity: 0;
}
.image-item.show{
    opacity: 1;
}
#image-list{

    padding:10px;
    width:80%;
    margin-top: 50px;
    position: relative;
}
.block-xcenter{
    margin-left:auto;
    margin-right:auto;
}
#msg{
    font-family:"PT Serif",\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Georgia,Times,serif;
    font-size: 35px;
    text-align: center;
}
#msg .msg-line2{
    color:azure;
    font-size: 30px;
}
.abs-center{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cp{
    width:90%;

    margin-top: 20px;
}
.cp-words{
    font-size: 16px;
    color: gray;
    text-align: center;
}
.cp-words a{
    color:#66ccff;
}
.a-wrapper{
    max-height: 200px;
    overflow: hidden;
    display: inline-block;
    width:33.33333%;
}
.popup-gray{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
.popup-window{
    color:white;
    text-align: center;
}
.pic-detail img{
    width:40%;
}
.pic-detail p{
    line-height:1.4;
}
.pic-detail p span{
    font-size: 25px;
}
.btn{
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #66ccff;
    margin: 10px;
    line-height: 50px;
    font-size: 24px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;
}
.btn-cpy{
    background-color: #30BF30;
}
.btn-close{
    background-color: #E45E5E;
}