.stage{
    height: 300px;
    width: 80%;
    background-color: #97D8F9;;

    border-radius: 20px;
    position: relative;
}
.image-item{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 300px;
    margin: 3px;
    box-shadow: #B0BEC7 1px 1px 4px 0px;
}
#image-list{

    padding:10px;
    width:80%;
    margin-top: 50px;
}
.block-xcenter{
    margin-left:auto;
    margin-right:auto;
}
#msg{
    font-family:"PT Serif",\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Georgia,Times,serif;
    font-size: 35px;
    text-align: center;
}
#msg .msg-line2{
    color:azure;
    font-size: 30px;
}
.abs-center{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cp{
    width:90%;

    margin-top: 20px;
}
.cp-words{
    font-size: 16px;
    color: gray;
    text-align: center;
}
.cp-words a{
    color:#66ccff;
}