.stage{
    height: 300px;
    width: 80%;
    background-color: #97D8F9;;

    border-radius: 20px;
    position: relative;
}
.image-item{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 100%;
    margin: 3px;
    box-shadow: #B0BEC7 1px 1px 4px 0px;
    opacity: 0;
}
.image-item.show{
    opacity: 1;
}
#image-list{
    text-align: center;
    padding:10px;
    width:80%;
    margin-top: 50px;
    position: relative;
}
.block-xcenter{
    margin-left:auto;
    margin-right:auto;
}
#msg{
    font-family:"PT Serif",\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Georgia,Times,serif;
    font-size: 35px;
    text-align: center;
}
#msg .msg-line2{
    color:azure;
    font-size: 30px;
}
.abs-center{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cp{
    width:90%;

    margin-top: 20px;
}
.cp-words{
    font-size: 16px;
    color: gray;
    text-align: center;
}
.cp-words a{
    color:#66ccff;
}
.a-wrapper{
    height: 200px;
    overflow: hidden;
    display: inline-block;
    width:auto;
    position: relative;
}
.popup-gray{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.popup-window{
    color:white;
    text-align: center;
}
.pic-detail img{
    max-width:700px;
}
.pic-detail p{
    line-height:1.4;
}
.pic-detail p span{
    font-size: 25px;
}
.btn{
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #66ccff;
    margin: 10px;
    line-height: 50px;
    font-size: 24px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}
.btn-cpy{
    background-color: #30BF30;
}
.btn-close{
    background-color: #E45E5E;
}
.err{
    text-align: center;
    color: #808087;
}
#btn-load-more{
    display: block;
    font-size: 1.5em;
    background-color: transparent;
    border: 1px solid #949494;
    padding: 10px 50px;
    font-weight: normal;
    color: #808083;
    outline:none;
}
.comment-wrapper{
    background-color: #E6E6E6;
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%;
    z-index: 99;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.comment-opener{
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    color: white;
    background-color: rgba(240, 255, 255, 0.18);
    top: calc(50% - 25px);
    left: -50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
}
.cmt-show{
    right:0 !important;
}
.comment-wrapper:hover{
    right:-27%;
}
#comment{
    position: absolute;
    width:100%;
    height:100%;
}