<h1>上传测试</h1>
<form id="tkUpload" method="post" action="http://upload.qiniu.com" enctype="multipart/form-data">
  <input name="x:friname" type="input" >
  <input id="file" name="file" type="file" />
  <input type="hidden" name="x:folder" value="debug/" id="folder">
  <input  type="submit" value="提交">
</form>
<div id="msg"></div>

<script src="/s/j/u.js"></script>