<div class="stage block-xcenter">
    <div id="msg" class="abs-center">欢迎使用TAT图酷 <br> <span class="msg-line2">点击此处或拖拽上传</span></div>
</div>
<input type="file" name="" id="fu" style="display: none;">
<div id="image-list" class="block-xcenter"></div>

<div class="popup-gray">
    <div class="popup-window abs-center">
        <div class="pic-detail">
            <h1>图片信息</h1>
            <img src="http://TAT.pics/v/144859842643350850108_p0.jpg">
            <p> <span>http://TAT.pics/v/144859842643350850108_p0.jpg</span></p>
            <div class="ctrl">
                <div class="btn btn-cpy">复制</div>
                <div class="btn btn-close">关闭</div>
            </div>
            <div class="msg" style="display: none;">复制成功</div>
        </div>
    </div>
</div>
<script src="s/j/ZeroClipboard.min.js"></script>
<script src="s/j/u.min.js"></script>
<script src="s/j/m.min.js"></script>

