<div class="stage block-xcenter">
    <div id="msg" class="abs-center">欢迎使用TAT图床 <br> <span class="msg-line2">点击此处或拖拽上传</span></div>
</div>
<input type="file" name="" id="fu" style="display: none;">
<div id="image-list" class="block-xcenter"></div>

<div class="popup-gray">
    <div class="popup-window abs-center">
        <div class="pic-detail">
            <h1>图片信息</h1>
            <img src="">
            <p> <span></span></p>
            <div class="ctrl">
                <div class="btn btn-cpy">复制</div>
                <a class="btn btn-cpy btn-open" target="_blank">打开</a>
                <div class="btn btn-close">关闭</div>
            </div>
            <div class="msg" style="display: none;">复制成功</div>
        </div>
    </div>
</div>
<script src="s/j/ZeroClipboard.min.js"></script>
<script src="s/j/u.min.js"></script>
<script src="s/j/m.js"></script>

