<div class="stage block-xcenter">
    <div id="msg" class="abs-center">欢迎使用TAT图床 <br> <span class="msg-line2">点击此处或拖拽上传</span></div>
</div>
<input type="file" name="" id="fu" style="display: none;">
<div id="image-list" class="block-xcenter"></div>

<script src="s/j/u.js"></script>
<script src="s/j/m.js"></script>

