<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>

<meta charset="utf-8">
<title>{{meta.title}} | Tuku图酷- 免费图床 图片托管 无限外链</title>
    <link rel="stylesheet" href="/s/c/m.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="//filehost.izhai.net/web/font-awesome/4.5.0/css/font-awesome.css">
    <link rel="shortcut icon" type="image/x-icon" href="/s/favicon.ico" />
    <meta name="Keywords" content="{{meta.keyWords}}">
    <meta name="Description" content="{{meta.description}}">


</head>
<body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61253812-3', 'auto');
    ga('send', 'pageview');

</script>
	<script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <!--<script src="http://libs.useso.com/js/jquery.form/3.50/jquery.form.min.js"></script>-->
    <nav>
        <div class="banner"><i class="fa fa-picture-o"></i>&nbsp;TAT 图床 </div>
        <span>喵~ 会卖萌的图床TAT</span>
        <div class="nav-btn pull-right">
            <a href="https://cdog.me" target="_blank"><i class="fa fa-user"></i></a>
            <a href="mailto://i@cdog.me"><i class="fa fa-envelope"></i></a>
            <a href="https://git.cdog.work/CDog/Tuku" target="_blank"><i class="fa fa-code"></i></a>
        </div>
    </nav>
	{{{body}}}

<div class="cp block-xcenter">
    <p class="cp-words">&copy;2015<a href="http://cdog.me"> 西道网络 </a>
</div>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script src="s/j/ZeroClipboard.min.js"></script>
<script src="s/j/u.js"></script>
<script src="s/j/m.js"></script>
</body>
</html>
