<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>

<meta charset="utf-8">
<title>{{title}} | Tuku图酷</title>

<link rel="shortcut icon" type="image/ico" href="uri" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

</head>
<body>
	<script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <script src="http://libs.useso.com/js/jquery.form/3.50/jquery.form.min.js"></script>
	{{{body}}}

</body>
</html>