<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>

<meta charset="utf-8">
<title>{{meta.title}} | Tuku图酷</title>
    <link rel="stylesheet" href="/s/c/m.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" type="image/x-icon" href="http://static.izhai.net/cjq.so/icosml.png" />
    <meta name="Keywords" content="{{meta.keyWords}}">
    <meta name="Description" content="{{meta.description}}">


</head>
<body>
	<script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <script src="http://libs.useso.com/js/jquery.form/3.50/jquery.form.min.js"></script>
	{{{body}}}

<div class="cp block-xcenter">
    <p class="cp-words">&copy;2015 Copyright <a href="http://cdog.me">CDog</a>. Power By <a href="http://git.work.cdog.me/CDog/tuku" target="_blank">Tuku图酷</a> & 七牛云储存 /ECS</p>
</div>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=52851187" charset="UTF-8"></script>

</body>
</html>